<style>
    /* Add custom styles if needed */
    .label {
        color: #da5f5f;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: bold;
    }
</style>
<div class="container">
    <h3 class="my-4">
        DANH SÁCH THÀNH VIÊN
    </h3>
    <div class="list-group mb-4">
        <a href="#" class="list-group-item list-group-item-action">Nguyễn Thành Trí</a>
        <a href="#" class="list-group-item list-group-item-action">Nguyễn Phước Anh Tuấn</a>
        <a href="#" class="list-group-item list-group-item-action">Trương Anh Tuấn</a>
    </div>
</div>