<div class="container">
  <div class="revenue pt-5 mb-10">
    <div class="revenue-label text-center">Revenue in day: {{this.totalDay}} VND</div>
    <canvas id="myChartDay"></canvas>
  </div>
    <div class="revenue">
    <div class="revenue-label text-center">Revenue in month: {{this.totalMonth}} VND</div>
    <canvas id="myChartMonth"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  var orderListDay = {{{orderListDay}}};
  var orderListMonth = {{{orderListMonth}}};
  console.log(orderListDay);
  console.log(orderListMonth);
  const ctx1 = document.getElementById('myChartDay');
  new Chart(ctx1, {
    type: 'bar',
    data: {
      labels: orderListDay.map(item => item.date),
      datasets: [{
        label: 'Success',
        data: orderListDay.map(item => (item.status === 'Success' ? parseInt(item.total, 10) : 0)),
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        
        borderWidth: 1
      }, {
        label: 'Failed',
        data: orderListDay.map(item => (item.status === 'Failed' ? parseInt(item.total, 10) : 0)),
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const ctx2 = document.getElementById('myChartMonth');
  new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: orderListMonth.map(item => item.date),
      datasets: [{
        label: 'Success',
        data: orderListMonth.map(item => (parseInt(item.total, 10))),
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });



</script>