<style>
body {
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}

.failed-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.cross-icon {
    color: #dc3545;
    font-size: 48px;
    margin-bottom: 20px;
}
</style>
<body>

<div class="container failed-container p-5 mt-5">
    <div class="cross-icon">&#10006;</div>
    <h2 class="mb-4">Payment Failed</h2>
    <p>{{message}}</p>
    <p>We apologize for this inconvenience. Please try again or contact support.</p>
    <form>
        <a href="/cart" class="btn btn-danger">Back to Homepage</a>
    </form>
</div>
