<footer id="footer">
    {{#if user}}
    <div class="inner m-3">
        <section>
            <h2>
                <span class="fa fa-cutlery"></span> 
                <span class="title">AWShop</span>
            </h2>

            <p>Nguyen Thanh Tri - siêu đẹp zai kakaka</p>
        </section>
        
        <section>
            <h2>Thông tin liên hệ</h2>

            <ul class="alt">
                <li><span class="fa fa-envelope-o"></span> <a href="mailto:kakaka@company.com">kakaka@company.com</a></li>
                <li><span class="fa fa-phone"></span> +84 333 4040 5566 </li>
                <li><span class="fa fa-map-pin"></span> 
                    AWShop Trường Đại học Khoa học tự nhiên, Linh Trung, Thủ Đức, Tp.HCM
                </li>
            </ul>
        </section>

        <ul class="copyright">
            <li>&copy; 2023 AWShop. Bản quyền thuộc về AWShop.</li>
        </ul>
    </div>
    {{/if}}
</footer>
