<div>
  <div id="main">
    <div class="image main">
      <img src="../public/images/banner.jpg" alt="" class="img-fluid" />
    </div>
  </div>
  <h3>DANH MỤC SẢN PHẨM</h3>

  <section class="tiles">
    {{#each cateList}}
      <div class="inner">
        <article class="style3">
          <span class="image">
            <img src="" alt="" />
            <a href="/product?cate={{this.product_type}}" id="show-detail">
              <h2>{{this.product_type}}</h2>

            </a>
          </span>
        </article>
      </div>
      <a href="#my-dialog">Edit</a>

      <div class="modal" id="my-dialog">
        <div class="modal-dialog">
          <form action="/edit?oldCateName={{this.product_type}}">
			<input type="text" name="newCateName" id="newCate" placeholder="Change cateogory name">
			<input type="submit" value="Edit">
          </form>
          <h1>my dialog</h1>
          <!-- Add your modal content here -->
        </div>
      </div>

      <a href="/delete/{{this.product_type}}">Delete</a>
    {{/each}}
  </section>

</div>