<div class="container">
  <div class="detail-section">
    <h1 class="detail-name">NGUYỄN PHƯỚC ANH TUẤN</h1>
    <hr class="section-divider">
  </div>

  <div class="detail-section">
    <div class="detail-info">
        <img src="/images2/blush.jpg" alt="IMG" class="detail-img">
        <p class="detail-text">Brand: Gay</p>
        <p class="detail-text">Price: $1</p>
        <p class="detail-text">Star rating: unrated</p>
        <button class="detail-button">Add to cart</button>
    </div>
    <hr class="section-divider">
  </div>

  <div class="detail-section">
    <p class="detail-text">
        Description
    </p>
    <p class="detail-description">
        Blotted Lip Sheer matte lipstick that creates the perfect popsicle pout! 
        Formula is lightweight, matte and buildable for light to medium coverage.
    </p>
    <hr class="section-divider">
  </div>

  <div class="detail-section">
    <a href="#" class="back-link">Back</a>
  </div>
</div>
