<!DOCTYPE HTML>
<html>
	<body>
	<div id="main">
		<div class="image main">
			<img src="../public/images/banner.jpg" alt="" class="img-fluid"/>
		</div>
	</div>
	<h3>Top danh mục</h3>

	<section class="tiles">
		<div class="inner">
			<article class="style3">
				<span class="image">
					<img src="../public/images/product1.jpg" alt=""/>
					<a href="javascript:void(0)"
						id="show-detail"
						data-url="/:brand/:id"
					>
						<h2>Bún bò</h2>

					</a>
				</span>
			</article>
		</div>
		<div class="inner">
			<article class="style3">
				<span class="image">
					<img src="../public/images/product1.jpg" alt=""/>
					<a href="javascript:void(0)"
						id="show-detail"
						data-url="/:brand/:id"
					>
						<h2>Bún bò</h2>

					</a>
				</span>
			</article>
		</div>
	</section>

	<h3>Top sản phẩm dnah mục 1</h3>
	<section class="tiles">
		
		<div class="inner">
			<article class="style3">
				<span class="image">
					<img src="../public/images/product1.jpg" alt=""/>
					<a href="javascript:void(0)"
						id="show-detail"
						data-url="/:brand/:id"
					>
						<h2>Bún bò</h2>

					</a>
				</span>
			</article>
		</div>
		<div class="inner">
			<article class="style3">
				<span class="image">
					<img src="../public/images/product1.jpg" alt=""/>
					<a href="javascript:void(0)"
						id="show-detail"
						data-url="/:brand/:id"
					>
						<h2>Bún bò</h2>

					</a>
				</span>
			</article>
		</div>
	</section>

	</body>
</html>