<!DOCTYPE HTML>
<html>
	<body>
		<div id="wrapper">
				<div id="main">
					<div class="image main">
					</div>

					<div class="inner">
					</div>
				</div>

		</div>
	</body>
</html>