<section
  class="ftco-section img"
  style="background-image: url(/node/public/images/bg_5.jpg);"
>
  <div class="container">
    <div class="row justify-content-lg-start">
      <div class="col-md-6 heading-section deal-of-the-day">
        <span class="subheading" style="color: grey">WELCOME TO</span>
        <h2 class="mb-4"><a href="/cate" style="color: black">AW SHOP</a></h2>
        <h3><a href="/cate" style="color: grey">The Biggest Shoppe Clone Hub</a></h3>
        <span class="price" style="color: black">
          <h2>in HCMUS. </h2>
          <a style="color: dark"></a></span>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="carousel-label text-center mb-5"><h1>Top 5 Cate</h1></div>
    <div class="owl-carousel">
        <div class="item mb-3"><img src="images2/blush.jpg"></div>
        <div class="item mb-3"><img src="images2/eyebrow.jpg"></div>
        <div class="item mb-3"><img src="images2/eyeliner.jpg"></div>
        <div class="item mb-3"><img src="images2/lipstick.jpg"></div>
        <div class="item mb-3"><img src="images2/foundation.jpg"></div>
    </div>
  </div>
</section>

<section
  class="ftco-section img"
  style="background-image: url(/angular/my-app/src/assets/img/bg_2.jpg);"
>
  <div class="container">
    <div class="row justify-content-lg-start">
      <div class="col-md-6 heading-section deal-of-the-day">
        <span class="subheading" style="color: black">Best Price For You</span>
        <h2 class="mb-4"><a href="/shop/menu" style="color: black">Deal Of The
            Day</a></h2>
        <h3><a href="/shop/menu" style="color: black">Fashion combo</a></h3>
        <span class="price" style="color: black">
          <h2>Rs. 1200</h2>
          <a href="/shop/menu" style="color: black"><br /><h2
              style="color: black"
            >now at Rs. 699 only</h2></a></span>
        {{! <div id="timer" class="d-flex mt-5">
                  <div class="time pl-0" id="hours" style="color: #562349"></div>
                  <div class="time pl-0" id="minutes" style="color: #562349"></div>
                  <div class="time pl-0" id="seconds" style="color: #562349"></div>
              </div> }}
      </div>
    </div>
  </div>
</section>

{{!-- <script
  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script> --}}
<script src="/js/owl.carousel.min.js"></script>

<script type="text/javascript">
  $('.owl-carousel').owlCarousel({ loop:true, margin:30, nav:true, responsive:{
  0:{ items:1 }, 600:{ items:2 }, 1000:{ items:3 } } })
</script>