	{{!-- <div id="main">
		<div class="image main">
			<img src="../public/images/banner.jpg" alt="" class="img-fluid"/>
		</div>
	</div>
	<h3>TOP DANH MỤC</h3>

	<section class="tiles">
		<div class="inner">
			<article class="style3">
				<span class="image">
					<img src="../public/images/product1.jpg" alt=""/>
					<a href="javascript:void(0)"
						id="show-detail"
						data-url="/:brand/:id"
					>
						<h2>Bún bò</h2>

					</a>
				</span>
			</article>
		</div>
		<div class="inner">
			<article class="style3">
				<span class="image">
					<img src="../public/images/product1.jpg" alt=""/>
					<a href="javascript:void(0)"
						id="show-detail"
						data-url="/:brand/:id"
					>
						<h2>Bún bò</h2>

					</a>
				</span>
			</article>
		</div>
	</section>

	<h3>Top sản phẩm danh mục 1</h3>
	<section class="tiles">
		
		<div class="inner">
			<article class="style3">
				<span class="image">
					<img src="../public/images/product1.jpg" alt=""/>
					<a href="javascript:void(0)"
						id="show-detail"
						data-url="/:brand/:id"
					>
						<h2>Bún bò</h2>

					</a>
				</span>
			</article>
		</div>
		<div class="inner">
			<article class="style3">
				<span class="image">
					<img src="../public/images/product1.jpg" alt=""/>
					<a href="javascript:void(0)"
						id="show-detail"
						data-url="/:brand/:id"
					>
						<h2>Bún bò</h2>

					</a>
				</span>
			</article>
		</div>
	</section> --}}

	<section class="ftco-section img" style="background-image: url(/node/public/images/bg_5.jpg);">
    <div class="container">
        <div class="row justify-content-lg-start">
            <div class="col-md-6 heading-section deal-of-the-day ">
                <span class="subheading" style="color: white">WELCOME TO</span>
                <h2 class="mb-4"><a href="/cate" style="color: black">AW SHOP</a></h2>
                <h3><a href="" style="color: white">The Biggest Shoppe Clone Hub</a></h3>
                <span class="price" style="color: black"> <h2>in HCMUS. </h2> <a href="/shop/menu" style="color: white"></a></span>
            </div>
        </div>
    </div>
  </section>


<section class="ftco-section">

</section>



<section class="ftco-section img" style="background-image: url(/angular/my-app/src/assets/img/bg_2.jpg);">
  <div class="container">
      <div class="row justify-content-lg-start">
          <div class="col-md-6 heading-section deal-of-the-day ">
              <span class="subheading" style="color: white">Best Price For You</span>
              <h2 class="mb-4"><a href="/shop/menu" style="color: black">Deal Of The Day</a></h2>
              <h3><a href="/shop/menu" style="color: white">Fashion combo</a></h3>
              <span class="price" style="color: black"> <h2>Rs. 1200</h2> <a href="/shop/menu" style="color: white"><br><h2 style="color: white">now at Rs. 699 only</h2></a></span>
              <div id="timer" class="d-flex mt-5">
                  <div class="time pl-3" id="hours" style="color: #562349"></div>
                  <div class="time pl-3" id="minutes" style="color: #562349"></div>
                  <div class="time pl-3" id="seconds" style="color: #562349"></div>
              </div>
          </div>
      </div>
  </div>
</section>

