<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdminLTE 3 | Log in</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />

    <link
      rel="stylesheet"
      href="../public/css/icheck-bootstrap.min.css"
    />

    <link rel="stylesheet" href="../public/css/adminlte.min.css" />
    
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }

      .login-box {
        width: 400px; /* Adjust the width as needed */
        margin: auto;
      }
    </style>
    
    <script
      nonce="655304b8-3cfc-43b0-af62-50962d53846f"
    >(function(w,d){!function(dg,dh,di,dj){dg[di]=dg[di]||{};dg[di].executed=[];dg.zaraz={deferred:[],listeners:[]};dg.zaraz.q=[];dg.zaraz._f=function(dk){return
      async function(){var
      dl=Array.prototype.slice.call(arguments);dg.zaraz.q.push({m:dk,a:dl})}};for(const
      dm
      of["track","set","debug"])dg.zaraz[dm]=dg.zaraz._f(dm);dg.zaraz.init=()=>{var
      dn=dh.getElementsByTagName(dj)[0],dp=dh.createElement(dj),dq=dh.getElementsByTagName("title")[0];dq&&(dg[di].t=dh.getElementsByTagName("title")[0].text);dg[di].x=Math.random();dg[di].w=dg.screen.width;dg[di].h=dg.screen.height;dg[di].j=dg.innerHeight;dg[di].e=dg.innerWidth;dg[di].l=dg.location.href;dg[di].r=dh.referrer;dg[di].k=dg.screen.colorDepth;dg[di].n=dh.characterSet;dg[di].o=(new
      Date).getTimezoneOffset();if(dg.dataLayer)for(const du of
      Object.entries(Object.entries(dataLayer).reduce(((dv,dw)=>({...dv[1],...dw[1]})),{})))zaraz.set(du[0],du[1],{scope:"page"});dg[di].q=[];for(;dg.zaraz.q.length;){const
      dx=dg.zaraz.q.shift();dg[di].q.push(dx)}dp.defer=!0;for(const dy
      of[localStorage,sessionStorage])Object.keys(dy||{}).filter((dA=>dA.startsWith("_zaraz_"))).forEach((dz=>{try{dg[di]["z_"+dz.slice(7)]=JSON.parse(dy.getItem(dz))}catch{dg[di]["z_"+dz.slice(7)]=dy.getItem(dz)}}));dp.referrerPolicy="origin";dp.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(dg[di])));dn.parentNode.insertBefore(dp,dn)};["complete","interactive"].includes(dh.readyState)?zaraz.init():dg.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script>
  </head>
  <body class="hold-transition login-page center">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
      </div>

      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign in to start your session</p>
          <form action="../../index3.html" method="post">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember" />
                  <label for="remember">
                    Remember Me
                  </label>
                </div>
              </div>

              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
              </div>

            </div>
          </form>
          <div class="social-auth-links text-center mb-3">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i>
              Sign in using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i>
              Sign in using Google+
            </a>
          </div>

          <p class="mb-1">
            <a href="forgot-password.html">I forgot my password</a>
          </p>
          <p class="mb-0">
            <a href="register.html" class="text-center">Register a new
              membership</a>
          </p>
        </div>

      </div>
    </div>

    {{!-- <script src="../../plugins/jquery/jquery.min.js"></script>

    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../../dist/js/adminlte.min.js?v=3.2.0"></script> --}}
  </body>
</html>