<div>
    <div id="main">
		<div class="image main">
			<img src="../public/images/banner.jpg" alt="" class="img-fluid"/>
		</div>
	</div>
	<h3>{{product_type}}</h3>

	<section class="tiles">
        {{#each prodList}}
		<div class="inner">
			<article class="style3">
				<span class="image">
					<img src="" alt=""/>
					<a href="javascript:void(0)"
						id="show-detail"
						data-url="/:brand/:id"
					>
						<h2>{{this.name}}</h2>

					</a>
				</span>
			</article>
		</div>
        {{/each}}
	</section>
</div>	

