<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <div class="title"><a href="">CREATE AN ACCOUNT</a> </div>

        <div class="form">
          {{#if hasErrors}}
            <div class="alert alert-danger">
              {{#each messages}}
                <p>{{this}}</p>
              {{/each}}
            </div>
          {{/if}}


          <form id="register-form" action="/register" method="post">
            <div class="username-error error" style="font-weight: 800;"></div>
            <div class="input-group">
              <input
                class="input--style-3"
                type="text"
                name="username"
                placeholder="Username"
                required
              />
            </div>


            <div class="firstname-error error" style="font-weight: 800;"></div>
            <div class="input-group">
              <input
                class="input--style-3"
                type="text"
                name="firstname"
                placeholder="First name"
                required
              />
            </div>


            <div class="lastname-error error" style="font-weight: 800;"></div>
            <div class="input-group">
              <input
                class="input--style-3"
                type="text"
                name="lastname"
                placeholder="Last name"
                required
              />
            </div>


            <div class="email-error error" style="font-weight: 800;"></div>
            <div class="input-group">
              <input
                class="input--style-3"
                type="email"
                name="email"
                placeholder="Email"
                required
              />
            </div>
            
            <div class="input-group">
              <input
                class="input--style-3"
                type="text"
                name="phone"
                placeholder="Phone number"
                required
              />
            </div>


            <div class="password-error error" style="font-weight: 800;"></div>
            <div class="input-group">
              <input
                class="input--style-3"
                type="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>


            {{! <div class="input-group">
                            <input class="input--style-3" type="text" name="phone" placeholder="Phone" >
                        </div> }}
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <div class="p-t-10">
              <button
                class="btn btn--pill btn--green"
                type="submit"
              >Register</button>
            </div>
          </form>
        </div>
        <br />
        <div>
          <h6 style="color: white">Alread have an account?
            <a href="/login" style="color: white"> Log in here </a></h6>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    const form = document.querySelector('#register-form');

    document.addEventListener('DOMContentLoaded', async function () {
      console.log(form);

      form.addEventListener('submit', async function (e) {
        e.preventDefault();
        let isValid = true
        document.querySelector('.firstname-error').innerHTML = ''
        document.querySelector('.lastname-error').innerHTML = ''
        document.querySelector('.password-error').innerHTML = ''
        document.querySelector('.username-error').innerHTML = ''
        document.querySelector('.email-error').innerHTML = ''
        const firstname = form.querySelector('input[name="firstname"]').value;
        const lastname = form.querySelector('input[name="lastname"]').value;
        const email = form.querySelector('input[name="email"]').value;
        const password = form.querySelector('input[name="password"]').value;
        const username = form.querySelector('input[name="username"]').value;

        try {
          const res = await fetch('/register', {
            method: 'POST',
            body: JSON.stringify({ firstname, lastname, email, password, username }),
            headers: { 'Content-Type': 'application/json' }
          })
          const data = await res.json();
          console.log('data', data);
          if (!data.isValid) {
            document.querySelector('.firstname-error').innerHTML = data.firstname.includes('!') ? data.firstname : '';
            document.querySelector('.lastname-error').innerHTML = data.lastname.includes('!') ? data.lastname : '';
            document.querySelector('.password-error').innerHTML = data.password.includes('!') ? data.password : '';
            document.querySelector('.email-error').innerHTML = data.email.includes('!') ? data.email : '';
            document.querySelector('.username-error').innerHTML = data.username.includes('!') ? data.username : '';
          }
          else {
            location.assign('/login');
          }
        }
        catch (e) {
          throw e;
        }



        //Success


      })
    })
  </script>