<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>AWSHOP</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />

  <link rel="stylesheet" href="../public/css/icheck-bootstrap.min.css" />

  <link rel="stylesheet" href="../public/css/adminlte.min.css" />

  <link rel="stylesheet" href="../../dist/css/adminlte.min.css?v=3.2.0" />

  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .register-box {
      width: 400px;
      /* Adjust the width as needed */
      margin: auto;
    }
  </style>

  <script
    nonce="970e44fa-a146-466b-83d3-643b0c26d10c">(function (w, d) {
        !function (dg, dh, di, dj) {
          dg[di] = dg[di] || {}; dg[di].executed = []; dg.zaraz = { deferred: [], listeners: [] }; dg.zaraz.q = []; dg.zaraz._f = function (dk) {
            return
            async function() {
              var
              dl = Array.prototype.slice.call(arguments); dg.zaraz.q.push({ m: dk, a: dl })
            }
          }; for (const
            dm
            of ["track", "set", "debug"]) dg.zaraz[dm] = dg.zaraz._f(dm); dg.zaraz.init = () => {
              var
              dn = dh.getElementsByTagName(dj)[0], dp = dh.createElement(dj), dq = dh.getElementsByTagName("title")[0]; dq && (dg[di].t = dh.getElementsByTagName("title")[0].text); dg[di].x = Math.random(); dg[di].w = dg.screen.width; dg[di].h = dg.screen.height; dg[di].j = dg.innerHeight; dg[di].e = dg.innerWidth; dg[di].l = dg.location.href; dg[di].r = dh.referrer; dg[di].k = dg.screen.colorDepth; dg[di].n = dh.characterSet; dg[di].o = (new
                Date).getTimezoneOffset(); if (dg.dataLayer) for (const du of
                  Object.entries(Object.entries(dataLayer).reduce(((dv, dw) => ({ ...dv[1], ...dw[1] })), {}))) zaraz.set(du[0], du[1], { scope: "page" }); dg[di].q = []; for (; dg.zaraz.q.length;) {
                    const
                    dx = dg.zaraz.q.shift(); dg[di].q.push(dx)
                  } dp.defer = !0; for (const dy
                of [localStorage, sessionStorage]) Object.keys(dy || {}).filter((dA => dA.startsWith("_zaraz_"))).forEach((dz => { try { dg[di]["z_" + dz.slice(7)] = JSON.parse(dy.getItem(dz)) } catch { dg[di]["z_" + dz.slice(7)] = dy.getItem(dz) } })); dp.referrerPolicy = "origin"; dp.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(dg[di]))); dn.parentNode.insertBefore(dp, dn)
            };["complete", "interactive"].includes(dh.readyState) ? zaraz.init() : dg.addEventListener("DOMContentLoaded", zaraz.init)
        }(w, d, "zarazData", "script");
      })(window, document);</script>
</head>

<body class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="/"><b>AWSHOP</a>
    </div>
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Đăng kí</p>
        <form action="/register" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="firstname" placeholder="First name" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="lastname" placeholder="Last name" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email" required />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password"  required/>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Retype password" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree" />
                <label for="agreeTerms">
                  Tôi đồng ý các điều khoản
                </label>
              </div>
            </div>

            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Đăng kí</button>
            </div>

          </div>
        </form>
        {{!-- <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
          </a>
        </div> --}}
        <a href="/login" class="text-center">Tôi đã đăng kí</a>
      </div>

    </div>
  </div>

  {{!--
  <script src="../../plugins/jquery/jquery.min.js"></script>

  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="../../dist/js/adminlte.min.js?v=3.2.0"></script> --}}
</body>

</html>